* {
	box-sizing: border-box;
}

html,
body,
.main {
	margin: 0;
	padding: 0;
}

body {
	background-color: rgba(242,242,242,1);
	font-family: Helvetica,Arial,sans-serif;
	color: rgba(0,0,0,1);
	font-size: 12px;
	padding-bottom: 2em;
}

.svd-header {
	background-color: rgba(65,65,65,1);
	box-shadow: 0 1px 1px rgba(0,0,0,.07);
	color: rgba(255,255,255,1);
	letter-spacing: .05em;
	height: 25px;
	position: fixed;
	top: 0;
	width: 100%;
}

.content-wrapper {
	width: 980px;
	margin: 0 auto;
}

.header-text {
	margin: 0 auto;
	padding-top: 6px;
}

.content-box {
	background-color: rgba(255,255,255,1);
	border: 1px solid rgba(233,233,233,1);
	box-shadow: 0 0 1px rgba(0,0,0,.07);
	padding: 15px 30px 15px 20px;
}

.main {
	height: 100%;
	display: flex;
	margin-top: calc(25px + 1em);
}

.aside-left {
	flex: 0 1 200px;
}

.has-feedback {
	position: relative;
}

.has-feedback input + .form-feedback {
	position: absolute;
	left: 8px;
	top: 8px;
	color: rgba(0,0,0,.3);
	font-size: 1.2em;
}

.aside-left input[type=search] {
	background-size: 14px 14px;
	border: 1px solid rgba(233,233,233,1);
	box-shadow: 0 0 1px rgba(0,0,0,.07);
	-webkit-appearance: none;
	font-size: 1.1em;
	height: 30px;
	margin-bottom: .5em;
	padding-left: 18px;
	vertical-align: middle;
	width: 100%;
}

.search-results {
	flex: 1;
	margin-left: 1em;
}

.search-results h1 {
	color: rgba(128, 128, 128, 1);
	font-size: 14px;
	font-weight: normal;
}

.search-results table {
	width: 100%;
}

.section-heading {
	margin-top: 0.5em;
	text-transform: uppercase;
}


.list-unstyled {
	list-style: none;
	padding-left: 0.5em;
}

.list-unstyled > li > a {
	color: rgba(0,0,0,1);
	font-style: italic;
	line-height: 2em;
	text-decoration: none;
}

.list-unstyled .section-heading {
	color: rgba(128,128,128,1);
}

.btn {
	background-color: rgba(160,160,160,1);
	border: 1px solid rgba(233,233,233,1);
	box-shadow: 0 0 1px rgba(0,0,0,.07);
	color: rgba(255,255,255,1);
	font-size: 1.1em;
	line-height: 2em;
}

.btn-block {
	display: block;
	width: 100%;
}